.header {
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.span {
  color: #ff6347;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarList {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.logoImage {
  width: 60px;
  height: 80px;
}

.navItem {
  margin: 0 1.5rem;
}

.navbarLink {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.navbarLink:hover {
  color: #ff6347;
}

.headerBtnGroup {
  display: flex;
  align-items: center;
}

.searchBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #333;
  cursor: pointer;
}

.btn {
  background: linear-gradient(45deg, #f89617, #f0f03b);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.mainlogo {
  width: 50px;
}

@keyframes colorChange {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.animatedtext {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  animation: colorChange 3s ease alternate-reverse;
  background: linear-gradient(90deg, #f7b731, #f0fd30, #fa8729);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
}

.btnHover:hover {
  background-color: #ff4500;
}

.navToggleBtn {
  display: none;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.navToggleBtn .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.navbar.open {
  display: block;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
  }

  .navbar.open {
    display: flex;
  }

  .navItem {
    margin: 1rem 0;
  }

  .navToggleBtn {
    display: flex;
  }
}
